*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'open sans' 'sans-serif' ;
    font-size: 1.4rem;
    /* line-height: 1.6; */
    margin:0 10rem;
   
}
.custom-font{
    font-family: 'open sans' 'sans-serif' ;
}
header{
    width: 100%;
    height: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    color: white;
    padding: 60px;
    background-image: url(../images/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.row-column{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row-100{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.row-column-100{
    width: 100%;
    display: flex;
    flex-direction: column;
}

header .banner{
   
}
 .banner-heading{
    font-size: 6rem;
    padding: 0 2rem;
}
.banner-text{
    font-size: 0.9rem;
    font-weight: normal;
    background-color: #fff;
    color: black;
    padding: 30px;
}
.mode-section{
    display: flex;
    justify-content: center;
}
.text-section{
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background-color: #e9b1b3;
    color: white;
}
.text{
   font-size: 1.6rem;
   font-style: italic;
   margin-bottom: 15px;
      
}
.text span{
    font-size: 6rem;
    line-height: 0;

}
.text-section p{
    font-size: 0.8rem;
    width: 50%;
}
#gallery .image-container{
    height: 450px;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#gallery .gallery-img-1{
    background-image: url(../images/gallery-1.jpeg);
}

#gallery .gallery-img-2{
    background-image: url(../images/gallery-2.jpeg);
}

#gallery .gallery-img-3{
    background-image: url(../images/gallery-3.jpeg);
}
#gallery .gallery-img-4{
    background-image: url(../images/gallery-4.jpeg);
}

#gallery .gallery-img-5{
    background-image: url(../images/gallery-5.jpeg);
}

#gallery .gallery-img-6{
    background-image: url(../images/gallery-6.jpeg);
}

.coming-soon{
    background-color: #e9b1b3;
    padding: 50px 0;
    color: white;
   
}
.coming-soon .row-column-100{
    justify-content: center;
}
.coming-soon .coming-soon-heading,
.coming-soon .coming-soon-text,
.coming-soon .coming-soon-form{
   text-align: center;
}
.coming-soon .coming-soon-heading{
    font-size: 4rem;
    font-style: italic;
}
.coming-soon .coming-soon-text{
    font-size: 1.3rem;
}
.coming-soon .coming-soon-form{
    margin-top: 35px;
}
.coming-soon .row-100{
    justify-content: center;
}
.coming-soon-form .input-container{
    display: flex;
    justify-content: center;
    padding: 0 20px;
 
}

.input-container .text-input,
.input-container .form-btn{
    padding: 12px 10px;
    border: unset;
    border-radius: 20px;
    padding: 12px 10px;
}
.input-container .form-btn{
    background-color: black;
    color: #fff;
}
.next-section{
    display: flex;
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding: 15px 60px;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-grow: 1;
 
}
.article-section .next-section .article-container{
    padding: 15px;
    justify-content: center;
}
.article-container .image-container{
    width: 100%;
  
}
.article-content{
    display: flex;
    flex-flow: column;
    text-align: start;
   
}
.article-content .text1{
    padding-bottom:20px;
}
.article-content .text2{
    text-transform: capitalize;
    color:#e9b1b3;
    font-family: Arial, Helvetica, sans-serif;
  }
.Collection-section{
    margin: 0 auto;
    align-items: center;
    width: 100%;
    height: 19em;
    padding: 2em 0;
    border: 0.1 solid ;
    justify-content: center;
    align-items: center;
    background-color: #e9b1b3;
    align-items: center;
}
.Collection-section .text{
    color: white;
    font-size: 66px;
    padding-left: 4.5em;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
}
.section-row{
    display: flex;
    padding: 1em 5em;
    
}

.section-row .section-card{
    flex-grow: 1;
    width: 100%;
    height: 170px;
    justify-content: space-between;
    margin: 15px 5px;

}
.section-img{
    width: 100%;
    height: 100%;
}
.product-section{
    background-color: #fff;
    width: 100%;
    height: 17em;
    margin: 5px;
    padding: 1em 0;
    font-family: 'open sans' 'sans-serif';
}
.product-row{
    width: 100%;
    height: 850%;
}

.product{
    margin: 5px;
    justify-content: baseline;
}
.product-row .product-text{
    padding: 10px ;
}
.btn{
    border-radius: 16px;
    background-color: black;
    color: white;
    width: 60%;
    height: 36px;
}

.section-sub{
    display: flex;
    margin: 0 auto;
    padding: 1em 1em;
    width: 90%;
    height: 120%;
    justify-content: center;
    align-items: center;
}
.section-sub .sub-items{
    width: 35%;
    height: 14em;
    margin: 0 30px;
    justify-content: center;
    align-items: center;
}
.sub-move{
    margin-left: 2.5em;
}
.line{
    width: 100%;
    height: 8px;
    padding: 0 3px;
    background-color: #e9b1b3;
    margin: 4em 0 1em 2em;
}
.sub-items .text{
    padding-left: 15px;
    font-weight: bold;
    font-size: 45px;
}
.sub-form form{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}
.sub-form input{
    width: 16em;
    height: 30px;
    margin-left:10px;
}
.fa {
    background-color: white;
	border-radius: 2.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1.3rem;
    text-decoration: none;
	height: 2.6rem;
	line-height: 2.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 2.6rem;
    
  }
 .fa:hover {
    opacity: 0.7;
  }
  
   .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
 
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #f75211;
    color: white;
  }